<div class="row">
  <div class="text-center mt-3">
    <h2>Your matches - {{this.memberService.paginatedResult()?.pagination?.totalItems}}</h2>
  </div>

  <div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="this.loadMembers()">
      <div class="d-flex mx-2">
        <label class="col-form-label">Age from: </label>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px;"
          name="minAge"
          [(ngModel)]="this.memberService.userParams().minAge">
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Age to: </label>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px;"
          name="minAge"
          [(ngModel)]="this.memberService.userParams().maxAge">
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Show: </label>
        <select
          name="gender"
          style="width: 130px;"
          class="form-select ms-1"
          [(ngModel)]="this.memberService.userParams().gender">
          @for (gender of this.genderList; track gender.value) {
            <option [value]="gender.value">{{gender.display}}</option>
          }
        </select>
      </div>
      <button class="btn btn-primary ms-1" type="submit">Apply filters</button>
      <button class="btn btn-info ms-1" (click)="this.resetFilter()">Reset filters</button>
      <div class="col">
        <div class="btn-group float-end">
          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            (click)="this.loadMembers()"
            btnRadio="lastActive"
            [(ngModel)]="this.memberService.userParams().orderBy">
            Last Active
          </button>
          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            (click)="this.loadMembers()"
            btnRadio="created"
            [(ngModel)]="this.memberService.userParams().orderBy">
            Newest Members
          </button>
        </div>
      </div>
    </form>
  </div>

  @for (member of memberService.paginatedResult()?.items; track member.id) {
    <div class="col-2">
      <app-member-card [member]="member"></app-member-card>
    </div>
  }

  @if (this.memberService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="this.memberService.paginatedResult()?.pagination!.totalItems"
        [itemsPerPage]="this.memberService.paginatedResult()?.pagination!.itemsPerPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="20"
        [(ngModel)]="this.memberService.paginatedResult()?.pagination!.currentPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  }
</div>
